<form [formGroup]="form" (submit)="addNewTodo()">
  <div class="p-fluid formgrid grid">
    <div class="field col-12">
      <label for="task-desc">Description</label>
      <input id="task-desc"
             data-qa="task-desc-input"
             type="text"
             pInputText
             formControlName="text"
             required>
    </div>
    <div class="field col-12">
      <label for="task-due-date">Priority</label>
      <p-selectButton [options]="priorities"
                      formControlName="priority"
                      optionLabel="label"
                      optionValue="value">
        <ng-template let-item>
          <span>{{ item.label }}</span>
          <span class="ml-2 prio" *ngIf="item.value === 1">!</span>
          <span class="ml-2 prio" *ngIf="item.value === 2">!!</span>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <div class="flex justify-content-end mt-5">
    <button pButton type="button" label="Cancel" class="p-button-outlined mr-2"
            data-qa="close-btn"
            (click)="close()"></button>
    <button pButton type="submit" label="Add task"
            [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
            data-qa="submit-btn"
            [disabled]="saving"></button>
  </div>
</form>


