$padding-h: 4rem;

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app {

  &-header {
    flex: 0 1 0;
    padding: 0 $padding-h;
    background: #198fcd;
    color: #fff;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0 25px 50px -10px,
      rgba(0, 0, 0, 0.3) 0px 15px 30px -15px;
    border-bottom: 1px solid #fff;
  }

  &-nav {
    font-size: 0.875rem;

    a {
      display: block;
      padding: 1rem 2rem;
      color: inherit;
      text-decoration: none;

      &.active,
      &:active,
      &:hover {
        background: rgba(#fff, 0.1);
      }
    }

    > ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      > li {
        display: block;
      }
    }
  }

  &-main {
    flex: 1 0 auto;
    padding: 4rem $padding-h;
  }

  &-footer {
    flex: 0 1 0;
    padding: 1rem $padding-h;
    background: #eaeaea;
    font-size: 0.75rem;
  }
}
