<!-- Menu -->
<header role="banner" class="app-header">
  <nav class="app-nav">
    <p-menubar [model]="menuItems" class="app-header__menu"></p-menubar>
  </nav>
</header>

<!-- Main Area -->
<main class="app-main" role="main">
  <router-outlet class="app-main__outlet"></router-outlet>
</main>

<!-- Footer -->
<footer class="app-footer">
  <p>This app is powered by <a href="https://www.primefaces.org/primeng/" target="_blank">PrimeNG</a>.</p>
  <p>Did this tutorial help you? Follow my blog at <a href="https://www.steffendielmann.com" target="_blank">
    www.steffendielmann.com</a> to get more tips and tricks on Angular.</p>
</footer>
