$padding-h: 4rem;

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app {
  &-header {
    &__menu {
      ::ng-deep .p-menubar {
        border-radius: 0;
      }
    }
  }

  &-main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1200px;
  }

  &-footer {
    flex: 0 1 0;
    width: 100%;
    padding: 1rem $padding-h;
    background: var(--surface-a);
    color: var(--text-color-secondary);
    font-size: 0.75rem;
    text-align: center;
  }
}
