<!-- Menu -->
<header role="banner" class="app-header">
  <nav class="app-nav">
    <ul>
      <li *ngFor="let link of links">
        <a [routerLink]="link.url"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active"
           class="app-nav__link">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- Main Area -->
<main class="app-main" role="main">
  <router-outlet class="app-main__outlet"></router-outlet>
</main>

<!-- Footer -->
<footer class="app-footer">
  <p>Did this tutorial help you? Follow my blog at <a href="https://www.steffendielmann.com" target="_blank">
    www.steffendielmann.com</a> to get more tips and tricks on Angular.</p>
</footer>
