<!-- Menu -->
<header role="banner" class="app-header">
  <nav class="app-nav">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" class="app-nav__link">Start</a>
      </li>
      <li>
        <a routerLink="/something" routerLinkActive="active" class="app-nav__link">Something</a>
      </li>
    </ul>
  </nav>
</header>

<!-- Main Area -->
<main class="app-main" role="main">
  <router-outlet class="app-main__outlet"></router-outlet>
</main>

<!-- Footer -->
<footer class="app-footer">
  <p>Did this tutorial help you? Follow my blog at <a href="https://www.steffendielmann.com" target="_blank">
    www.steffendielmann.com</a> to get more tips and tricks on Angular.</p>
</footer>
