/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #292929;
}

a {
  color: #105b82;
  text-decoration: none;

  &:hover {
    color: #198fcd;
    text-decoration: underline;
  }
}
